<ion-modal-view>
  <ion-header-bar>
    <h1 class="title" id="titleModalView">New user</h1>

    <div class="buttons">
      <button class="button button-clear" id="cancelButtonModalView" ng-click="hideCreateNewUserView()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" id="usernameModelView">
        </label>
        <label class="item item-input">
          <span class="input-label">Name</span>
          <input type="text" id="nameModelView">
        </label>
        <label class="item item-input">
          <span class="input-label">Surname</span>
          <input type="text" id="surnameModelView">
        </label>
        <button class="button button-full button-positive" type="submit" id="pictureButtonModelView">Take picture</button>
        <button class="button button-full button-positive" type="submit" id="createButtonModelView">Create</button>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
