<ion-modal-view>
  <ion-header-bar>
    <h1 class="title" id="titleModalView">New user</h1>

    <div class="buttons">
      <button class="button button-clear" id="cancelButtonModalView" ng-click="hideCreateNewUserView()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" id="usernameModalView" ng-model="newuser.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" id="passwordModalView" ng-model="newuser.password">
        </label>
        <label class="item item-input">
          <span class="input-label">Name</span>
          <input type="text" id="firstnameModalView" ng-model="newuser.name">
        </label>
        <label class="item item-input">
          <span class="input-label">Lastname</span>
          <input type="text" id="lastnameModalView" ng-model="newuser.lastname">
        </label>

        <div ng-hide="modalHideErrorMessage" class="ng-hide">
          <p id="modalErrorMessage" style="color: red">{{ modalErrorMessage }}</p>
        </div>

        <button class="button button-full button-positive" type="submit" id="pictureButtonModalView">Take picture</button>
        <button class="button button-full button-positive" type="submit" id="createButtonModalView" ng-click="createNewUser()">Create</button>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
