<ion-view view-title="Docsys">
  <ion-content class="has-header" scroll="false">

    <h1 id="loginText">Login</h1>

    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="{{ 'homeViewUsername' | translate }}" id="name" ng-model="user.username">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="{{ 'homeViewPassword' | translate }}" id="password" ng-model="user.password">
      </label>
    </div>

    <!--@ todo add translation for the error/success messages-->
    <div ng-hide="hideErrorMessage" class="ng-hide">
      <p id="errorMessage" style="color: red">{{ errorMessage }}</p>
    </div>

    <div ng-hide="hideSuccessMessage" class="ng-hide">
      <p id="successMessage" style="color: green">{{ successMessage }}</p>
    </div>

    <button translate="homeViewLoginBtn" class="button button-full button-positive" id="loginButton" ng-click="logIn()">
      Login
    </button>

    <button translate="homeViewNewUserBtn" class="button button-full button-positive" id="newUserButton" ng-click="showCreateNewUserView()">
      New user
    </button>

  </ion-content>
</ion-view>
