<ion-view view-title="Settings">
  <ion-content class="has-header" scroll="false">

    <ul class="list">

      <div class="item item-divider" translate="settingsViewLanguages">
        Languages
      </div>

      <a class="item item-icon-right" ng-click="changeLanguage('en_US')" id="englishSelectionBtn">
        English
        <div ng-if="englishActivated" class="englishSelection">
          <i class="icon ion-android-done"></i>
        </div>
      </a>
      <a class="item item-icon-right" ng-click="changeLanguage('pt_BR')" id="portugueseSelectionBtn">
        Portuguese
        <div ng-if="protugueseActivated" class="portugueseSelection">
          <i class="icon ion-android-done"></i>
        </div>
      </a>
    </ul>


  </ion-content>
</ion-view>
