<!--<ion-header-bar class="bar bar-header bar-stable">-->
  <!--<button class="button icon button-clear ion-navicon-round" ng-click="toggleSideMenu()"></button>-->
  <!--<h1 class="title">Docsys</h1>-->
<!--</ion-header-bar>-->

<ion-view view-title="Settings">
  <ion-content class="has-header" scroll="false">

    <ul class="list">

      <div class="item item-divider" translate="settingsViewLanguages">
        Languages
      </div>

      <a class="item" ng-click="changeLanguage('en_US')" translate="settingsViewEnglish">
        English
        <i class="icon ion-checkmark-round"></i>
      </a>
      <a class="item" ng-click="changeLanguage('pt_BR')" translate="settingsViewPortuguese">
        Portuguese
        <i class="icon ion-ios-telephone-outline"></i>
      </a>
    </ul>


  </ion-content>
</ion-view>
